{% extends 'auth_app/base.html' %}
{% load static %}

{% block content %}
<h2>Your Trips</h2>
<p>Here are your trips:</p>

{% for trip in trips_as_driver %}
    <li><a href="{% url 'trip_detail' trip.id %}">{{ trip.destination }} (Driver)</a></li>
{% endfor %}

{% for trip in trips_as_owner %}
    <li><a href="{% url 'trip_detail' trip.id %}">{{ trip.destination }} (Car Owner)</a></li>
{% endfor %}

{% if is_driver %}
    <h3>Car Owners Available for Hire:</h3>
    <ul>
        {% for owner in car_owners %}
            <li>
                <a href="{% url 'car_owner_details' owner.id %}">{{ owner.user.username }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3>Drivers Available for Hire:</h3>
    <ul>
        {% for driver in drivers %}
            <li>
                <a href="{% url 'update_driver_profile' driver.id %}">{{ driver.user.username }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
